<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 循环遍历</title>
    <script src="../lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 1.在遍历的过程中，没有使用索引值(下标值) -->
        <ul>
            <li v-for="name in names">{{name}}</li>
        </ul>
        <!-- 2.在遍历的过程中，使用索引值 -->
        <ul>
            <li v-for="(item,index) in names">{{index+1}}.{{item}}</li>
        </ul>
        <!-- 3.在遍历对象的过程中，如果只是获取一个值，那么获取到的是value -->
        <ul>
            <li v-for="item in info">{{item}}</li>
        </ul>
        <!-- 4.在遍历对象的过程中，获取key，value 格式:(value,key)-->
        <ul>
            <li v-for="(value,key) in info">{{key}}:{{value}}</li>
        </ul>
        <!-- 5.在遍历对象的过程中，获取key、value和index 格式:(value,key,index)-->
        <ul>
            <li v-for="(value,key,index) in info">{{index+1}}.{{key}}:{{value}}</li>
        </ul>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                names: ['why', 'kobe', 'james', 'curry'],
                info: {
                    name: 'why',
                    age: 18,
                    height: 1.88
                }
            },
        })
    </script>
</body>

</html>