<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js 监听属性</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="app">
    <!-- Vue.js 监听属性 watch，我们可以通过 watch 来响应数据的变化 -->
    <!-- 以下实例通过使用 watch 实现计数器： -->
        <p style="font-size: 25px;">计数器:{{counter}}</p>
        <button @click = "counter++" style="font-size: 25px;">点我</button>
    </div>

    <!-- 以下实例进行千米与米之间的换算 -->
    <div id="computed_props">
        千米：<input type="text" v-model="kilometers">
        米：<input type="text" v-model="meters">
    </div>
    <p id="info"></p>
    <script type="text/javascript">
        var vm = new Vue({
            el:'#app',
            data:{
                counter:1
            }
        });
        vm.$watch('counter',function(nval,oval){
            alert('计数器值的变化:' + oval + '变为' + nval +'!');
        });

        var vm2 = new Vue({
            el:'#computed_props',
            data:{
                kilometers:0,
                meters:0
            },
            methods: {
                
            },
            computed: {
                
            },
            watch: {
                kilometers:function(val){
                    this.kilometers=val;
                    this.meters=this.kilometers*1000
                },
                meters:function(val){
                    this.kilometers=val/1000;
                    this.meters=val;
                }
            },
        });
        // $watch是一个实例方法
        vm2.$watch('kilometers',function(newValue,oldValue){
            // 这个回调将在vm.kilometers改变后调用
        document.getElementById("info").innerHTML="修改前值为:" + oldValue + ",修改后的值为:" + newValue;
        })
    
    </script>
</body>
</html>